Repository hojas/front-end-project-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint --allow-empty-input

feat(plugin): add axios
  .env
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/plugins/axios.ts
  src/plugins/index.ts
Due: eslint

feat(test): add vitest
  .eslintignore
  .stylelintignore
  coverage/VueLogo.vue.html
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  package.json
  pnpm-lock.yaml
  test/VueLogo.test.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, stylelint --allow-empty-input

fix(deps): fix typescript version
  package.json
  pnpm-lock.yaml
Due: none

fix: remove coverage
  coverage/VueLogo.vue.html
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, stylelint --allow-empty-input

chore: ignore coverage
  .gitignore
Due: none

docs: update README.md
  README.md
Due: none

feat(eslint): use @antfu/eslint-config
  .eslintignore
  .eslintrc.js
  .stylelintrc.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/VueLogo.vue
  src/main.ts
  src/pages/home/Home.vue
  src/pages/home/components/MyCounter.vue
  src/plugins/axios.ts
  src/plugins/index.ts
  test/VueLogo.test.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: eslint, stylelint --allow-empty-input

docs(readme): update README.md
  README.md
Due: none

fix(deps): upgrade deps
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): upgrade deps
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

fix(composables): add composables
  package.json
  pnpm-lock.yaml
  src/components/common/README.md
  src/components/shared/README.md
  src/composables/README.md
  src/pages/home/Home.vue
  src/pages/home/components/MyCounter.vue
  src/pages/home/components/VueLogo.vue
  src/pages/home/composables/count.ts
Due: eslint, stylelint --allow-empty-input

chore(deps): upgrade deps
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): upgrade deps
  .eslintrc
  .eslintrc.js
  .stylelintrc
  .stylelintrc.js
  README.md
  auto-imports.d.ts
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/pages/home/components/MyCounter.vue
  src/pages/home/composables/count.ts
  src/style.css
  test/VueLogo.test.ts
  vite.config.ts
  vitest.config.ts
Due: eslint, stylelint --allow-empty-input

fix(config): remove vitest.config.ts
  vite.config.ts
  vitest.config.ts
Due: eslint

chore(deps): upgrade deps
  .eslintrc
  auto-imports.d.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  test/VueLogo.test.ts
  tsconfig.json
  tsconfig.node.json
Due: eslint

feat(config): simplify project
  .env
  .stylelintignore
  .stylelintrc
  .stylelintrc.json
  LICENSE
  README.md
  auto-imports.d.ts
  index.html
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.vue
  src/assets/vue.svg
  src/components/common/README.md
  src/components/shared/README.md
  src/composables/README.md
  src/main.css
  src/main.js
  src/main.ts
  src/pages/NotFound.vue
  src/pages/home/Home.vue
  src/pages/home/components/MyCounter.vue
  src/pages/home/components/VueLogo.vue
  src/pages/home/composables/count.ts
  src/plugins/axios.ts
  src/plugins/index.ts
  src/router.ts
  src/style.css
  src/vite-env.d.ts
  test/VueLogo.test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint, stylelint --allow-empty-input

Path conditions:
  eslint: any of: *.{js,ts,tsx,vue}
  stylelint --allow-empty-input: any of: *.{vue,css,scss}
